@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');

/* for code in .md */

/* .markdown-body pre {
  background-color: #0d1117;
  padding: 1rem;
  border-radius: 8px;
  overflow-x: auto;
}

.markdown-body code {
  font-family: monospace;
} */


.chat-scroll {
  overflow-y: auto;
}

.chat-scroll::-webkit-scrollbar {
  width: 6px;
}

.chat-scroll::-webkit-scrollbar-track {
  background: transparent;
}


.chat-scroll::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.15);
  border-radius: 999px;
}